*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #191927;
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    line-height: 95px;
    font-weight: bold;
}
.dynamic-txt li{
    list-style: none;
    color: #6abdb6;
    font-size: 60px;
    line-height: 95px;
    font-weight: bold;


    position: relative;
    top: 0;

    animation: slide 8s steps(12) infinite;
    background-color: #191927;
}
@keyframes slide{
    100%{
        top: -360px;;
    }
}
.wrapper .dynamic-txt{
    margin-left: 15px;
    height: 92px;
    overflow: hidden;
}
.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    /* border-left: 5px solid #6abdb6; */
    animation: typing 2s steps(30) infinite;
    /* background-color: #191927; */
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}